@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.pattern-bg {
  background-color: white; /* dasar */
  background-image: radial-gradient(circle, rgba(0,0,0,0.15) 1px, transparent 1px);
  background-size: 20px 20px; /* jarak titik */
}

.dark .pattern-bg {
  background-color: #111827; /* gray-900 */
  background-image: radial-gradient(circle, rgba(255,255,255,0.2) 1px, transparent 1px);
}

.dark body {
  background-color: #111827; /* gray-900 */
  background-image: radial-gradient(circle, #374151 1px, transparent 1px);
}

/* Typing effect */
.typing {
  overflow: hidden;             /* supaya text tidak langsung muncul */
  white-space: nowrap;          /* biar teks tidak pindah baris */
  border-right: 3px solid;      /* cursor effect */
  width: 0;                     /* start dari nol */
  animation: typing 3s steps(20, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 45% }
}

@keyframes blink {
  0%, 100% { border-color: transparent }
  50% { border-color: currentColor }
}
